body {
  background-color: #ffffff;
}

.App {
  text-align: center;
}

.card-stack {
  height: 520px;
  max-width: 480px;
  overflow: auto;
  margin: auto;
  padding: 20px;
}

.card {
  position: absolute;
  min-width: 250px;
  max-width: 450px;
  width: calc(100% - 40px);
  background-color: #ffffff;
  box-shadow: 0 0 4px 0px #adadad;
  border-radius: 8px;
  cursor: pointer;
}

.card img {
  min-width: 250px;
  max-width: 450px;
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card p {
  text-align: left;
  padding: 0 20px;
  font-size: 18px;
}

.controls {
  width: fit-content;
  margin: auto;
  display: flex;
  align-items: center;
}

.like {
  width: 72px;
  height: 72px;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0px #808080;
  float: right;
  margin: 20px 10px;
  border-radius: 50%;
  cursor: pointer;
  
}

.superlike {
  width: 56px;
  height: 56px;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0px #808080;
  float: left;
  margin: 20px 10px;
  border-radius: 50%;
  cursor: pointer;
}

.skip {
  width: 72px;
  height: 72px;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0px #808080;
  float: left;
  margin: 20px 10px;
  border-radius: 50%;
  cursor: pointer;
}

.like img, .skip img {
  width: 72px;
  height: auto;
}

.superlike img {
  width: 56px;
  height: auto;
}

/* .noHighlight {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

.disableSave {
  -webkit-user-select:none;
  -webkit-touch-callout:none;
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 24px;
  }
  
  .card-stack {
    height: 0;
    padding-top: 105%;
    position: relative;
  }
  .card {
    top: 5px;
  }
  
  .like, .skip {
    width: 64px;
    height: 64px;
  }
  .like img, .skip img {
    width: 64px;
  }
  .superlike {
    width: 52px;
    height: 52px;
  }
  .superlike img {
    width: 52px;
  }
}